amqp==5.0.9
anyjson==0.3.3
APScheduler==3.10.1
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
blurhash==1.1.4
boto==2.49.0
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.1.0
click==8.0.3
cloud-init==23.1.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
dbus-python==1.2.18
debtcollector==2.3.0
decorator==5.1.1
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
dnspython==2.1.0
docutils==0.17.1
eventlet==0.30.2
extras==1.0.0
fail2ban==0.11.2
fasteners==0.14.1
filelock==3.6.0
fixtures==3.0.0
Flask==2.0.3
gitdb==4.0.9
GitPython==3.1.24
greenlet==1.1.2
gunicorn==20.1.0
heat-cfntools==1.4.2
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
iso8601==1.0.2
itsdangerous==2.1.0
jeepney==0.7.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
kombu==5.2.3
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.0.1
Mastodon.py==1.8.1
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.3
murano-agent==9.0.0
netaddr==0.8.0
netifaces==0.11.0
oauthlib==3.2.0
olefile==0.46
oslo.concurrency==4.5.0
oslo.config==8.8.0
oslo.context==4.1.0
oslo.i18n==5.1.0
oslo.log==4.6.1
oslo.serialization==4.2.0
oslo.service==2.8.0
oslo.utils==4.12.2
packaging==21.3
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
pbr==5.8.0
pexpect==4.8.0
Pillow==9.0.1
platformdirs==2.5.1
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-ldap==3.2.0
python-magic==0.4.24
pytz==2022.1
PyYAML==5.4.1
repoze.lru==0.7
requests==2.29.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
roman==3.3
Routes==2.5.1
SecretStorage==3.3.1
semantic-version==2.8.5
service-identity==18.1.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sos==4.4
ssh-import-id==5.11
stevedore==3.5.0
supervisor==4.2.1
systemd-python==234
Tempita==0.5.2
testtools==2.5.0
Twisted==22.1.0
tzlocal==5.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
vine==5.0.0
virtualenv==20.13.0+ds
wadllib==1.3.6
WebOb==1.8.6
Werkzeug==2.0.3
wrapt==1.13.3
xkit==0.0.0
zipp==1.0.0
zope.interface==5.4.0
