server{
    listen 8080;
    server_name 172.26.128.118;

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-REAL-IP $remote_addr;
    }

}